.App {
  font-size: 24px;
  margin: auto;
}

.title {
  text-align: center;
}

.group-buttons {
  display: flex;
  justify-content: center;
}

.group-buttons span {
  font-size: 24px;
}

.group-buttons button {
  margin: 2%;
}