.App {
  font-size: 24px;
  margin: auto;
}

 .bg {
  position: absolute;
  z-index: 1;
  left: -10px;
  top: -10px;
  right: -10px;
  bottom: -10px;
  filter: blur(3px);
  background-size: cover;
}

.content {
  position: relative;
  z-index: 2;
}

.title {
  margin: 0;
  text-align: center;
}

.group-buttons {
  display: flex;
  justify-content: center;
}

.group-buttons span {
  font-size: 24px;
}

.group-buttons button {
  margin: 2%;
}